@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import "hero";
@import "about";

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


